<div class="container">
  <h1>Welcome to the XSS Test Site</h1>
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-primary" style="outline: none" id="create-user-button">Create User</button> To see the effect, open your browser's console.
    </div> <!-- class="row" -->
  </div><!-- class="col-md-10" -->

  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-primary" style="outline: none" id="show-profile-button">Show Profile</button> To see the effect, open your browser's console.
    </div> <!-- class="row" -->
  </div><!-- class="col-md-10" -->

  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-primary" style="outline: none" id="delete-user-button">Delete User</button> To see the effect, open your browser's console.
    </div> <!-- class="row" -->
  </div><!-- class="col-md-10" -->
</div>