<div class="container">
  <div class="col-md-9">
  <div class="jumbotron">
    <h1 class="text-center">Irl's World of Security</h1>
    <p>I'm old and I quickly forget things I've learned.  Returning to this site adds cerebral breadcrumbs that hopefully trigger recall.</p>
  </div>

  <h1><a href="/xss">XSS Attacks and Prevention</h1></a>
</div>