<div class="container">
  <div class="col-md-9">
  <div class="jumbotron">
    <h1 class="text-center">Irl's World of Security</h1>
    <p>I'm old and I quickly forget things I've learned.  Returning to this site adds cerebral breadcrumbs that hopefully trigger recall.</p>
  </div>

  <h3><a href="/xss">XSS Attacks and Prevention</h3></a>
  <p style="font-size: 21px; font-family: Helvetica Neue; font-weight: 200;">
    The tests send requests to <a href="https://badsite.herokuapp.com">https://badsite.herokuapp.com</a>
  </p>

  <h3><a href="https://csrftokenoff.herokuapp.com/">CSRF Attacks and Prevention</h3></a>
  <p style="font-size: 21px; font-family: Helvetica Neue; font-weight: 200;">
    The simulated link uses <a href="https://badsite.herokuapp.com">https://badsite.herokuapp.com</a>
  </p>
</div>